* {
    margin: 0;
    padding: 0;
}

.MAIN {
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    flex-direction: row;
}

.container1 {
    display: flex;
    flex-direction: column;
}

.container11 {
    display: flex;
    flex-direction: row;
}

.block1 {
    background-color: #4d0001;
    width: 100px;
    height: 200px;
}

.container12 {
    display: flex;
    flex-direction: column;
}

.block2 {
    background-color: #a20417;
    width: 100px;
    height: 100px;
}

.block3 {
    background-color: #ed4255;
    width: 100px;
    height: 100px;
}

.block4 {
    background-color: #007144;
    width: 200px;
    height: 200px;
}

.container2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.block5 {
    background-color: pink;
    width: 200px;
    height: 100px;
}

.container21 {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.container22 {
    display: flex;
    flex-direction: column;
}

.block6 {
    background-color: #ed4255;
    width: 100px;
    height: 100px;
}

.block7 {
    background-color: #004019;
    width: 100px;
    height: 100px;
}

.block8 {
    background-color: #4d0001;
    width: 100px;
    height: 200px;
}

.block9 {
    background-color: #a20417;
    width: 200px;
    height: 100px;
}